/* eslint-disable-next-line @tailwindcss(unknownAtRules) */
@tailwind base;
/* eslint-disable-next-line @tailwindcss(unknownAtRules) */
@tailwind components;
/* eslint-disable-next-line @tailwindcss(unknownAtRules) */
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
